<nav class="navbar navbar-toolbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target=".bs-example-toolbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="//julianxhokaxhiu.com" class="navbar-brand">Julian Xhokaxhiu's Portfolio</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="//julianxhokaxhiu.com/">Home</a></li>
            <li class="active"><a href="//blog.julianxhokaxhiu.com/">Blog</a></li>
            <li><a href="//linuxdavinci.julianxhokaxhiu.com/">LinuxDaVinci</a></li>
            <li><a href="//ipops.julianxhokaxhiu.com/">iPoPS</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    <div class="container pr-0">
        <a href="//julianxhokaxhiu.com" class="navbar-brand">Julian Xhokaxhiu's Portfolio</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarMediumish">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="//julianxhokaxhiu.com/">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="//blog.julianxhokaxhiu.com/">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="//linuxdavinci.julianxhokaxhiu.com/">LinuxDaVinci</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="//ipops.julianxhokaxhiu.com/">iPoPS</a></li>
            </ul>
            {{ $currentPage := . }}
            <hr>
            <ul class="navbar-nav ml-auto">
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name | title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- End Menu -->
    </div>
</nav>
<!-- End Navigation
================================================== -->
